body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

/*
*******************************
* =header
*******************************
*/

header {
  background: #332E2E;
}

h1, h2 {
  color: #DAF6F6;
  font-family: Arial;
  font-weight: normal;
  margin: 0;
  padding: 35px 35px;
}

h2 {
  padding: 0px 35px 35px;
  color: grey;
  font-size: 1.5em;
  font-family: Helvetica;
}

h1 a {
  text-decoration: none;
  color: #DAF6F6;
}

/*
*******************************
* =nav
*******************************
*/


nav {
  float: left;
  width: 30%;
  margin-left: -41px;
  margin-top: -16px;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #DAF6F6;
}

nav a:hover, .active {
  color: #D319BD;
}

nav ul li {
  line-height: 3em;
  border: 1px solid #ccc;
  padding-left: 20px;
  background: #332E2E;
}

nav ul li:hover, .active {
  background: #776969;
}

/*
*******************************
* =container
*******************************
*/

.container {
  width: 40%;
  margin: auto;
}


/*
*******************************
* =Use CSS Shorthand
*******************************
*/

#font-long {
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.5em;
  font-family: Arial, sans-serif;
  background-color: #ccc;
}

#font-short {

}