/*
*******************************
* General Styles
*******************************
*/

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

form {
  margin-top: 20px;
}

/*
*******************************
* =header
*******************************
*/

header {
  background: #332E2E;
}

h1, h2 {
  color: #DAF6F6;
  font-family: Arial;
  font-weight: normal;
  margin: 0;
  padding: 35px 35px;
}

h2 {
  padding: 0px 35px 35px;
  color: grey;
  font-size: 1.5em;
  font-family: Helvetica;
}

h1 a {
  text-decoration: none;
  color: #DAF6F6;
}

/*
*******************************
* =nav
*******************************
*/

nav {
  float: left;
  width: 30%;
  margin-left: -41px;
  margin-top: -16px;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #DAF6F6;
}

nav a:hover, .active {
  color: #D319BD;
}

nav ul li {
  line-height: 3em;
  border: 1px solid #ccc;
  padding-left: 20px;
  background: #332E2E;
}

nav ul li:hover, .active {
  background: #776969;
}

/*
*******************************
* =container
*******************************
*/

.container {
  width: 40%;
  margin: auto;
  margin-top: 20px;
}

.container pre {
  border-radius: 0;
  border: 0.1em solid black;
  box-shadow: none;
  padding: 0;
}

/*
*******************************
* Footer
*******************************
*/

footer {
  margin: 10px;
}

/*
*******************************
* Use CSS Shorthand
*******************************
*/

.css-short p {
  background-color: #D3ACDD;
}

#font-long {
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.5em;
  font-family: Arial, sans-serif;
}

#font-short {
  font: italic bold 13px/1.5em Arial, sans-serif;
}

#pad-long {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

#pad-short {
  padding: 1em;
}

#pad-short-2 {
  padding: 1em 2em;
}

/*
*******************************
* Change Text Selection
*******************************
*/

#custom-select::selection {
  background-color: red;
  color: white;
}

/*
*******************************
* Awesome Font Stacks
*******************************
*/

#font-typical {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

#font-alternate {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/*
*******************************
* Drop Caps
*******************************
*/

.dropcaps-1 .first-letter {
  float: left;
  margin: 0 14px 0 0;
  color: green;
  font: 72px/100% Georgia, serif;
}

.dropcaps-2:first-letter {
  float: left;
  margin: 0 14px 0 0;
  color: green;
  font: 72px/100% Georgia, serif;
}

/*
*******************************
* Style Placeholder Text
*******************************
*/

input.style-placeholder::-webkit-input-placeholder {
  color: blue;
  background-color: #FFE685;
}

input.style-placeholder::-moz-placeholder {
  color: blue;
  background-color: #FFE685;
}

input.style-placeholder::-ms-input-placeholder {
  color: blue;
  background-color: #FFE685;
}

/*
*******************************
* Remove Dotted Outline Links
*******************************
*/

.no-outline a:focus {
  outline: none;
}

.no-outline input[type="text"] {
  outline: none;
}

/*
*******************************
* Custom Checkboxes
*******************************
*/

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  background-color: #D668CD;
  border: 3px solid #756D91;
  content: "";
  display: inline-block;
  font-size: 16px;
  font-weight: bold;

  height: 20px;
  width: 20px;
  line-height: 20px;
  margin: -2px 6px 0 0 ;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label:before {
  content: "\2713";
  text-align: center;
}

/*
*******************************
* Custom Radio Buttons
*******************************
*/

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  background-color: #D668CD;
  border: 3px solid #756D91;
  border-radius: 12px;
  content: "";
  display: inline-block;
  font-size: 24px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin: -2px 6px 0 0 ;
  vertical-align: middle;
}

input[type="radio"]:checked + label:before {
  content: "\2022";
  text-align: center;
}

/*
*******************************
* Form States
*******************************
*/

.formstates legend {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #1C23DA;
}

.formstates pre {
  margin-bottom: 50px;
}

.formstates .styled-labels input[type="text"],
.formstates .styled-labels textarea {
  border: 2px solid #771A1A;
  border-radius: 5px;
  outline: none;
  padding: 0.5em;
  transition: box-shadow .2s ease-in-out;
}

.formstates .layout-labels label {
  display: block;
  margin-bottom: 6px;
}

.formstates .custom-hover input[type="text"]:hover,
.formstates .custom-hover textarea:hover {
  box-shadow: 2px 2px 5px #6650DA;
  transition: box-shadow .2s ease-in-out;
}

.formstates .custom-hover input[type="text"]:focus,
.formstates .custom-hover textarea:focus {
  box-shadow: 2px 2px 5px #6650DA;
  border-color: #74b9ef;
}

/*
*******************************
* Horizontal & Vertical Centering
*******************************
*/

[class|="centering"] {
  background-color: #ccc;
  padding: 1em;
  margin-bottom: 0.5em;
}

.center-examples pre {
  margin-bottom: 2em;
}

.centering-1 p {
  text-align: center;
}

.centering-2 p {
  width: 50%;
  margin: 0 auto;
}

.centering-3 img {
  margin: 0 auto;
  display: block;
}

.centering-4 {
  height: 15em;
  display: table-cell;
  vertical-align: middle;
}

/*
*******************************
* Absolutely Center Image
*******************************
*/

.image-container-1,
.image-container-2 {
  background-color: #ccc;
  margin-bottom: 0.5em;
}

.abs-center-img pre {
  margin-bottom: 2em;
}

.image-container-1 {
  width: 100%;
  min-height: 30em;
  background: #ccc url(http://lorempixel.com/200/200/technics) center center no-repeat;
}

.image-container-2 {
  position: relative;
  min-height: 30em;
}

.image-container-2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

/*
*******************************
* Clear & Contain Floats
*******************************
*/

.learning-floats {
  background-color: #ccc;
  /*overflow: hidden;*/
}

.floated-image,
.floated-p {
  float: left;
}

.clear {
  /*clear: both;*/
}

.learning-floats:before,
.learning-floats:after {
  content: "";
  display: table;
}

.learning-floats:after {
  clear: both;
}

/*
*******************************
* CSS Triangles
*******************************
*/

.arrow {
  height: 0;
  width: 0;
  margin-bottom: 1em;
}

.up {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 52px solid red;
}

.down {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 52px solid blue;
}

.left {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 52px solid green;
}

.right {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 53px solid yellow;
}

.right-rotated {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 53px solid purple;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*
*******************************
* CSS  Circles
*******************************
*/

.circle {
  background-color: green;
  width: 10em;
  height: 10em;
  border-radius: 5em;
}

.round-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

/*
*******************************
* Layered Paper
*******************************
*/

.paper {
  background-color: #fafafa;
  border: 1px solid #f2f2f3;
  border-bottom: none;
  padding: 1em;
  text-align: center;
  margin-bottom: 40px;

  box-shadow:
    0 1px 1px rgba(0, 0, 0, .15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0, 0, 0, .15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0, 0, 0, .15);
}

/*
*******************************
* Creative List Bullets
*******************************
*/

.creative-list ul {
  list-style-type: none;
}

.creative-list .list-1 li {
  background: url(../images/bullet.png) left center no-repeat;
  padding-left: 1em;
}

.creative-list .list-2 li:before {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-color: transparent green;
  border-style: solid;
  border-width: 4px 0 4px 6px;
  margin-right: 0.5em;
}

.creative-list .list-3 li:before {
  content: "";
  display: inline-block;
  background-color: blue;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin: 0 0.5em 1px 0;
}

/*
*******************************
* Fixed back to top
*******************************
*/

.back-to-top {
  color: #DAF6F6;
  background-color: #332E2E;
  background-color: rgba(51, 46, 46, 0.85);
  position: fixed;
  bottom: 2em;
  right: 2em;
  line-height: 3em;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
}

.back-to-top:hover {
  color: #D319BD;
}

/*
*******************************
* Even and Odd Rows
*******************************
*/

.evenodd table {
  width: 100%;
  border: 2px solid #eaeaea;
  border-collapse: separate;
  border-radius: 3px;
}

.evenodd th {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.evenodd td {
  text-align: left;
}

.evenodd td,
.evenodd th {
  border: 2px solid #eaeaea;
  height: 2em;
  vertical-align: middle;
  padding: 0.5em;
}

.evenrows tr:nth-child(even) {
  background-color: #B6D1F3;
}

.oddrows tr:nth-child(odd) {
  background-color: #B6D1F3;
}

.evenodd li {
  font-size: 1.2em;
  line-height: 1.4em;
  letter-spacing: 0.1em;
}

.every-second li:nth-child(2n) {
  color: blue;
  background-color: #ccc;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.3em;
}

.every-third li:nth-child(3n) {
  color: red;
  background-color: #ccc;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.3em;
}

.fourth-fifth li:nth-child(4n+5) {
  color: green;
  background-color: #ccc;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.3em;
}